<div class="container-fluid">
    <div class="row">
        <div class="container middle-container"> 
            <div class="row">
                <div class="col-sm-12 mt-5 mb-2 text-center">
                    <span class="section-heading">With us, claiming has become Smarter and Simpler</span>
                </div>
                <div class="col-sm-12 mt-4 mb-3 text-center">
                    <span class="section-subheading">In just 3 simple steps!</span>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm">
                    <img src="../../../assets/images/step-1.png" alt="">
                    <div class="step-des">Just call on +18443413812. No forms to be filled.</div>
                </div>
                <div class="col-sm">
                    <img src="../../../assets/images/step-2.png" alt="">
                    <div class="step-des">Just call on +18443413812. No forms to be filled.</div>
                </div>
                <div class="col-sm">
                    <img src="../../../assets/images/step-3.png" alt="">
                    <div class="step-des">Just call on +18443413812. No forms to be filled.</div>
                </div>
            </div>
        </div>
    </div>
</div>
