<div class="row">
    <div class="col-sm mt-5 mb-5 text-center">
        <span class="section-heading">What would you like to protect today?</span>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <div class="selection-box">
            <img src="../../../assets/images/car.svg" class="selection-img" alt="">
            <span class="selection-key">Car</span>
            <span class="selection-arrow"><i class="fas fa-arrow-right"></i></span>
        </div>
    </div>
    <div class="col-sm">
        <div class="selection-box">
            <img src="../../../assets/images/car.svg" class="selection-img" alt="">
            <span class="selection-key">Bike</span>
            <span class="selection-arrow"><i class="fas fa-arrow-right"></i></span>
        </div>
    </div>
    <div class="col-sm">
        <div class="selection-box">
            <img src="../../../assets/images/car.svg" class="selection-img" alt="">
            <span class="selection-key">Cab / Taxi</span>
            <span class="selection-arrow"><i class="fas fa-arrow-right"></i></span>
        </div>
    </div>
    <div class="col-sm">
        <div class="selection-box">
            <img src="../../../assets/images/car.svg" class="selection-img" alt="">
            <span class="selection-key">Truck</span>
            <span class="selection-arrow"><i class="fas fa-arrow-right"></i></span>
        </div>
    </div>
    <div class="col-sm">
        <div class="selection-box">
            <img src="../../../assets/images/car.svg" class="selection-img" alt="">
            <span class="selection-key">Rickshaw</span>
            <span class="selection-arrow"><i class="fas fa-arrow-right"></i></span>
        </div>
    </div>
</div>
<div class="row mb-5"></div>
