.selection-box{
    position: relative;
    background: #fff;
    min-height: 144px;
    box-shadow: 0px 0px 10px -3px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 25px;
}

.selection-box .selection-key{
    display: block;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    color: #000000;
}

.selection-box .selection-arrow{
    position: absolute;
    display: block;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px -3px;
    line-height: 12px;
    padding: 10px;
    left: 42%;
    top: 86%;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
}

.selection-box .selection-arrow:hover{
    -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.selection-box .selection-img{
    margin-top: 20px;
    margin-bottom: 15px;
    /* width: 84px; */
}