.banner-container{
    background-image: url('../../../assets/images/banner-bg.png');
    background-position: center; /* Center the image */
    height: 500px; /* You must set a specified height */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}