<div class="container-fluid offerings-bg">
    <div class="container middle-container">  
        <div class="row">
            <div class="col-sm-12 mt-5 mb-2 text-center">
                <span class="section-heading">We offer you the Smart and Finest</span>
            </div>
            <div class="col-sm-12 mt-4 mb-3 text-center">
                <span class="text-highlighted">We’re making insurance simple and smart:</span>
                <span class="section-subheading">Simple products and simple processes. Whether it’s
                    buying or claiming, we give you the smart and finest.</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 mt-4">
                <div class="offerings-card text-center">
                    <img class="offerings-img" src="../../../assets/images/Smart and finest/instant-claims.png" alt="">
                    <span class="offerings-key">Instant Claims</span>
                    <span class="offerings-description">On average, we settle claims for
                        car insurance in 7days!</span>
                </div>
            </div>
            <div class="col-sm-4 mt-4">
                <div class="offerings-card text-center">
                    <img class="offerings-img" src="../../../assets/images/Smart and finest/cashless-repairs.png" alt="">
                    <span class="offerings-key">Cashless Repairs</span>
                    <span class="offerings-description">21000 + Cashless Garages for you to
                        choose from across India</span>
                </div>
            </div>
            <div class="col-sm-4 mt-4">
                <div class="offerings-card text-center">
                    <img class="offerings-img" src="../../../assets/images/Smart and finest/doorstep.png" alt="">
                    <span class="offerings-key">Doorstep Pickup & Repair</span>
                    <span class="offerings-description">Doorstep pickup, repair and drop with
                        12 months repair warranty</span>
                </div>
            </div>
            <div class="col-sm-4 mt-4">
                <div class="offerings-card text-center">
                    <img class="offerings-img" src="../../../assets/images/Smart and finest/support.png" alt="">
                    <span class="offerings-key">24*7 Support</span>
                    <span class="offerings-description">24*7 call facility even on National Holidays</span>
                </div>
            </div>
            <div class="col-sm-4 mt-4">
                <div class="offerings-card text-center">
                    <img class="offerings-img" src="../../../assets/images/Smart and finest/lowest-price.png" alt="">
                    <span class="offerings-key">Lowest Price</span>
                    <span class="offerings-description">We Insurance we can recommend
                        a good insurance at lowest price</span>
                </div>
            </div>
            <div class="col-sm-4 mt-4">
                <div class="offerings-card text-center">
                    <img class="offerings-img" src="../../../assets/images/Smart and finest/self-inspection.png" alt="">
                    <span class="offerings-key">Self Inspection</span>
                    <span class="offerings-description">Just click the damages on your
                        phone and you are done</span>
                </div>
            </div>
        </div>
    </div>
    <img class="top-texture" src="../../../assets/images/2.png" alt="top-texture">
    <img class="bottom-texture" src="../../../assets/images/1.png" alt="bottom-texture">
</div>    
    

