<div class="row offerings-bg">
    <div class="col-sm-12 mt-5 mb-5 text-center">
        <span class="section-heading">We offer you the Smart and Finest</span>
    </div>
    <div class="col-sm-12 mt-4 text-center">
        <span class="text-highlighted">We’re making insurance simple and smart:</span>
        <span class="section-subheading">Simple products and simple processes. Whether it’s
            buying or claiming, we give you the smart and finest.</span>
    </div>
</div>
<div class="row offerings-bg">
    <div class="col-sm-4 mt-4">
        <div class="offerings-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi excepturi, quis deleniti, natus atque repellat neque delectus ratione recusandae perferendis sequi iure. Tenetur perspiciatis ipsam, fugiat delectus necessitatibus deserunt quisquam.</div>
    </div>
    <div class="col-sm-4 mt-4">
        <div class="offerings-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi excepturi, quis deleniti, natus atque repellat neque delectus ratione recusandae perferendis sequi iure. Tenetur perspiciatis ipsam, fugiat delectus necessitatibus deserunt quisquam.</div>
    </div>
    <div class="col-sm-4 mt-4">
        <div class="offerings-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi excepturi, quis deleniti, natus atque repellat neque delectus ratione recusandae perferendis sequi iure. Tenetur perspiciatis ipsam, fugiat delectus necessitatibus deserunt quisquam.</div>
    </div>
    
</div>

