<div class="container-fluid footer-bg">
    <div class="row">
        <div class="container middle-container"> 
            <div class="row">
                <div class="col-sm">
                    <div class="footer-section-title">Learn More</div>
                    <div class="footer-links">
                        <ul class="footer-list">
                            <li class="footer-link-item"><i class="fas fa-chevron-right"></i>Terms Of Use</li>
                            <li class="footer-link-item"><i class="fas fa-chevron-right"></i>Offers</li>
                            <li class="footer-link-item"><i class="fas fa-chevron-right"></i>Products</li>
                            <li class="footer-link-item"><i class="fas fa-chevron-right"></i>Coverge</li>
                            <li class="footer-link-item"><i class="fas fa-chevron-right"></i>Authorise Centers</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="footer-section-title">Help</div>
                    <div class="footer-links">
                        <ul class="footer-list">
                            <li class="footer-link-item"><i class="fas fa-chevron-right"></i>Help FAQ's</li>
                            <li class="footer-link-item"><i class="fas fa-chevron-right"></i>Customer Service</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="footer-section-title">Follow Us</div>
                    <div class="footer-social">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-twitter-square"></i>
                        <i class="fab fa-instagram-square"></i>
                    </div>
                    <div class="footer-social">
                        <i class="fab fa-linkedin"></i>
                        <i class="fab fa-youtube-square"></i>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="footer-section-title">Customer Support</div>
                    <ul class="support-list">
                        <li class="support-li-item">
                            <i class="fas fa-phone-alt"></i>
                            <span class="support-key">Help: </span>
                            <span class="support-value">+1 833-985-2327</span>
                        </li>
                        <li class="support-li-item">
                            <i class="fas fa-envelope"></i>
                            <span class="support-key">Email: </span>
                            <span class="support-value">help@weassure.com</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm text-center">
                    <span class="copyright-info">
                        &copy;Copyright 2020, weAssure Pvt Ltd.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
