<div class="row">
    <div class="col-sm">
        <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, accusantium veritatis. Cum similique illo reprehenderit quam commodi eligendi inventore eaque debitis aperiam fugit magnam, temporibus odit totam soluta optio enim.</div>
    </div>
    <div class="col-sm">
        <div>Alias corrupti corporis magnam cumque beatae id expedita laudantium natus ad quia exercitationem doloremque fugiat, consequuntur sapiente sunt quo ut minima mollitia dignissimos, reprehenderit aliquam! Optio rem tenetur dolore obcaecati.</div>
    </div>
    <div class="col-sm">
        <div>Odio repellat recusandae officia dolorum architecto expedita placeat tempore praesentium. Officia, vero quos excepturi eius commodi pariatur, necessitatibus nihil expedita aut rem inventore iure quo dicta, architecto suscipit molestiae culpa?</div>
    </div>
</div>
